@media (min-width: 0px) and (max-width: 755px) {
  .card__container {
    max-width: 504;
    column-count: 2;
  }
}
@media (min-width: 756px) and (max-width: 1007px) {
  .card__container {
    max-width: 756;
    column-count: 3;
  }
}
@media (min-width: 1008px) and (max-width: 1259px) {
  .card__container {
    max-width: 1008;
    column-count: 4;
  }
}
@media (min-width: 1260px) and (max-width: 1511px) {
  .card__container {
    max-width: 1260;
    column-count: 5;
  }
}
@media (min-width: 1512px) and (max-width: 1763px) {
  .card__container {
    max-width: 1512;
    column-count: 6;
  }
}
@media (min-width: 1764px) and (max-width: 2015px) {
  .card__container {
    max-width: 1764;
    column-count: 7;
  }
}
@media (min-width: 2016px) and (max-width: 2267px) {
  .card__container {
    max-width: 2016;
    column-count: 8;
  }
}
